<!doctype html>
<html>
<title>
	MasonToday API
</title>
<body>
	<h1>
		MasonToday API
	</h1>
	<p>
		We have two APIs available, pulled from two different sources of GMU events:
		<ul>
			<li>Get Connected: <a href="/api/getconnected">masontoday.gmu.io/api/getconnected</a></li>
			<li>25 Live: <a href="/api/25live">masontoday.gmu.io/api/25live</a></li>
		</ul>
	</p>
	<p>
		Welcome to the API for MasonToday, courtesy of Student Run Computing and Technology! If you'd like, you can find the source code at the GMU Gitlab, <a href="https://git.gmu.edu/srct/mason-today-web">https://git.gmu.edu/srct/mason-today-web</a>
	</p>
</body>
</html>
